a {
    text-decoration: none;
    color: black;
}

.wrapper {
    display:grid;
    grid-template-rows: 80px auto 80px;
}

.nav {
    display:grid;
    grid-template-columns: auto 1fr;
    background:rgba(0,0,0,0.1);
    padding:10px;
    align-items: center;
}

.nav__header {
    font-weight: 900;
    font-size: 24px;
}

.nav__list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
}

.nav__list__item {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 5px;
}

.nav__list__item:hover {
    background: rgba(0,0,0,0.8);
    color:white;
}

.nav__list__item:hover a {
    color:white;
}

@media (min-width: 550px) {
    .nav {
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        justify-items: start;
    }

    .nav__header {
        justify-self: end;
        font-size: 36px;
    }

    .nav__list {
        grid-gap: 20px;
    }

    .nav__list__item {
        font-size: 18px;
    }
}

.main {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) minmax(280px, 1200px) minmax(20px, 1fr);
    height: calc(100vh - 160px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.about {
    margin-top:20px;
    grid-column: 2 / 3;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
}

.about__portrait {
    display: grid;
    grid-gap: 20px;
    justify-items: center;
}

.about__portrait img {
    width:100%;
    max-width:400px;
    border-radius: 50%;
}

.about__caption {
    font-style: italic;
}

.about__card {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    justify-self: center;
}

.about__card::before, .about__card::after {
    content: '';
    display: block;
    height:5px;
    width:100%;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
}

.about__card__header {
    font-size: 24px;
    font-weight: 700;
}

.about__card p {
    max-width:600px;
}

.about__card__list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 550px;
    justify-items: center;
}

.about__card__list__item {
    display: grid;
    align-items:center;
    background: rgba(0,0,0,0.1);
    padding:3px;
    border-radius: 5px;
}

@media (min-width: 1000px) {
    .about {
        grid-template-columns: auto 1fr;
        position: relative;
    }

    .about__card {
        align-self: center;
    }
}

.projects {
    margin-top:20px;
    padding-top:20px;
    grid-column: 2 / 3;
    display:grid;
    grid-gap: 30px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    padding-bottom: 20px;
}

.projects__header {
    font-size: 24px;
    font-weight: 700;
    justify-self: center;
}

.projects__gallery {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
}

.projects__item {
    display: grid;
    justify-items: center;
    align-items: start;
}

.projects__item__title {
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom:3px;
}

.projects__item__image img {
    height:250px;
    width:280px;
    border-radius: 10px;
}

.footer {
    display:grid;
    grid-gap: 3px;
    grid-template-columns: 1fr;
    background:rgba(0,0,0,0.1);
    padding:10px;
    align-items: center;
    justify-items: center;
    text-align: center;
}

.footer__header {
    font-weight: 700;
    font-size: 24px;
}

.footer__list {
    display:grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}